.Form-field {
  & .Form-field__lable {
    display: inline-block;
    font-family: var(--gilroy-regular);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  & .Form-field__inputs-wrapper {
    position: relative;
    height: 68px;
    width: 100%;
    padding: 16px 24px;
    background-color: var(--color-grey);
    border: 2px solid var(--color-grey);
    border-radius: 16px;
  }

  & .Input-range {
    margin-top: 12px;
  }
}
.Form-field.active {
  & .Form-field__inputs-wrapper {
    background-color: transparent;
  }
}
.Form-field.disabled {
  opacity: 0.4;
}