.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

@media screen and (max-width: 1119px) {
  .Wrapper {
    padding: 64px 0;
  }
}

@media screen and (max-width: 767px) {
  .Wrapper {
    padding-top: 44px;
  }
}