@import "../../scss/mixines.scss";

.Total-field {
  & .Form__lable {
    margin-bottom: 8px;
  }

  & .Total-field__value {
    font-size: 54px;
    line-height: 90%;
  }

  & .Total-field__value {
    @include notBreakWord();
  }

  & .Total-field__value::after {
    content: "\20BD";
    position: relative;
    display: inline-block;
    top: -6px;
  }

}

@media screen and (max-width: 767px) {
  .Total-field {
    & .Total-field__value {
      font-size: 22px;
      line-height: 20px;
    }

    & .Total-field__value::after {
      top: -2px;
    }
  }
}