@font-face {
  font-family: 'Nekst';
  src: url('./assets/fonts/Nekst-Black.woff2') format('woff2'),
  url('./assets/fonts/Nekst-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
  url('./assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@import "./scss/variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: $nekst;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 900;
  color: $font-color-secondary;
  background-color: $background;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
a,
p,
button,
span,
textarea,
label,
input {
  font-family: $nekst;
  color: $font-color-secondary;
}