@font-face {
  font-family: 'Nekst';
  src: url('./assets/fonts/Nekst-Black.woff2') format('woff2'),
  url('./assets/fonts/Nekst-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
  url('./assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('./assets/fonts/Gilroy-Semibold.woff2') format('woff2'),
  url('./assets/fonts/Gilroy-Semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #FFFFFF;

  --color-orange: #FF9514;;
  --color-grey: #F3F3F4;
  --color-light-yellow: #fffeee;
  --color-active: cornflowerblue;

  --nekst: "Nekst", -apple-system, BlinkMacSystemFont, sans-serif;
  --gilroy-regular: "Gilroy-Regular", -apple-system, BlinkMacSystemFont, sans-serif;
  --gilroy-semibold: "Gilroy-Semibold", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-color-primary: #111111;
  --font-color-secondary: #333333;
  --font-color-grey: #575757;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: var(--nekst);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 900;
  color: var(--font-color-secondary);
  background-color: var(--background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
a,
p,
button,
span,
textarea,
label,
input {
  font-family: var(--nekst);
  color: var(--font-color-secondary);
}