$background: #FFFFFF;

$color-orange: #FF9514;;
$color-grey: #F3F3F4;
$color-light-yellow: #fffeee;
$color-active: cornflowerblue;

$nekst: "Nekst", -apple-system, BlinkMacSystemFont, sans-serif;
$gilroy-regular: "Gilroy-Regular", -apple-system, BlinkMacSystemFont, sans-serif;
$gilroy-semibold: "Gilroy-Semibold", -apple-system, BlinkMacSystemFont, sans-serif;
$font-color-primary: #111111;
$font-color-secondary: #333333;
$font-color-grey: #575757;